# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.classpath
*.eml
target
*.log
*.log.*
generatorConfig.xml
.DS_Store
*.cache
*.lock
Test*.java
health_common/src/main/resources/
health_common/src/test/
health_dao/src/test/
health_interface/src/main/resources/
health_interface/src/test/
health_jobs/src/test/
health_pojo/src/main/resources/
health_pojo/src/test/
health_service/src/test/
health_web/src/test/
healthmobile_web/src/test/
